@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}
 
p{
    margin: 0px !important;
}
 
body {
    min-width: 390px;
}


 
/*!Header*/

header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
 
header .header-div{
    display: flex;
    padding-top: 45px;
    gap: 192px;
    justify-content: center;
}




header .left-section{
    display: flex;    
}

header .right-section{
    display: flex;
}

.left-section .btn{
    display: none;
}
 
header .left-section .logo-text{
    display: flex;
    align-items: center;
    padding-right: 68px;
    color: var(--Secondary, #FC4308);
    font-size: 22px;
    font-weight: 700;
}
header .left-section .logo-text-hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Secondary, #FC4308);
    font-size: 22px;
    font-weight: 700;
}
 
header .left-section .navbar a{
    text-decoration: none;
    color: var(--Black, #3E3232);
    font-size: 16px;
    text-wrap: nowrap;
    font-weight: 700;
}

header .left-section .navbar select {
    border: none;
    outline: none;
    color: var(--Black, #3E3232);
    font-weight: 700;
}
 
header .left-section .navbar{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 34px;
}

 

header .search-section{
    height: 48px;
    padding: 0 16px;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    background: var(--Gray, #F5F5F5);
}

header #desktop-search{
    display: flex;
    width: 400px;
    margin-right: 25px;
}
 
header .search-section #ellipsis{
    color: var(--Black-75, rgba(62, 50, 50, 0.75));
    text-align: center;
    font-family: "Font Awesome 6 Free";
    font-size: 20px;
    font-weight: 900;
    margin-top:3px;
}
 
header .search-section .search{
    color: var(--Black, #3E3232);
    text-align: center;
    font-family: "Font Awesome 6 Free";
    font-size: 20px;
    font-weight: 900;
}
 
header .search-box input{
    border: none;
    background: transparent;
    outline: none;
}

header #tablet-search{
    display: none;
    width: 604px;
    margin-bottom: 25px;
}

header #desktop-search .search-box input{
    width: 287px;
}
header #tablet-search .search-box input{
    width: 492px;
}


header .right-section .profile{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 50px;
}

header .right-section .profile .avatar{
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

header .right-section .profile .p{
    color: #000;
    font-size: 16px;
    font-weight: 700;
}


/*!Header End*/




/* Main Start */





.file-path-section {
    display: flex;
    align-items: center;
    width: 1512px;
    margin: 0 auto;
    margin-top: 45px;
}


.profile-edit {
    width: 1512px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 20px;
}

form .text-boxes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

form .text-boxes-container .text-box-card input {
    width: 488px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 12px;
    height: 48px;
    padding-left: 10px;
}

form .text-boxes-container .text-box-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form p {
    font-weight: 700;
    font-size: 16px;
}

form .banner-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form .banner-section .add-box {
    height: 150px;
    border-radius: 12px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


form .banner-section .add-box .right-section {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

form .banner-section .add-box .right-section p {
    color: #6C6363;
    font-weight: 500;
    font-size: 12px;
}

form .banner-section .add-box .right-section button {
    align-self: flex-start;
}

form button {
    border: none;
    outline: none;
    background-color: transparent;
}

form .bottom-section {
    display: flex;
    gap: 24px;
}

form .bottom-section .explanation-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form .bottom-section .explanation-section .buttons-section {
    height: 360px;
    background-color: white;
    box-shadow: 0px 0px 32px 0px #00000012;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .bottom-section .explanation-section .buttons-section .buttons {
    display: flex;
    gap: 20px;
}


form .bottom-section .explanation-section .buttons-section .buttons .tablet {
    display: none;
}

form .bottom-section .explanation-section .buttons-section textarea {
    border: none;
    outline: none;
    background-color:#f5f5f5;
    border-radius: 12px;
    padding: 20px;
    resize: none;
    width: 1088px;
    height: 260px;
    font-size: 12px;
}

form .bottom-section .add-image-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form .bottom-section .add-image-section .add-box {
    height: 360px;
    width: 360px;
    border-radius: 12px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

form .bottom-section .add-image-section .add-box p{
    font-weight: 400;
    color: #6C6363;
    font-size: 12px;
}


form .mobile-navbar-fixed {
    display: none;
}

/* Main End */









/* Footer Start */

footer {
    display: flex;
    justify-content: center;
}

footer .inner-section-1 {
    display: flex;
    gap:152px;
    padding-left: 204px;
}
footer .inner-section-2 {
    display: flex;
    gap:102px;
    padding-left: 204px;
}

footer .left-section {
    display: flex;
    flex-direction: column;
    gap:31px;
    background-color: #f5f5f5;
    width: 948px;
    height: 483px;
    border-radius: 0 50px 50px 0;
    padding-top:40px;
}



footer .left-section .mega-news-section {
    display: flex;
    flex-direction: column;
    gap:20px;
}

footer .left-section .categories-section {
    display: flex;
    flex-direction: column;
    gap:20px;
}

footer .left-section .categories-section .texts-list {
    display: flex;
    flex-direction: column;
    gap:15px;
    font-size: 12px;
}

footer .left-section .newsletters-section {
    display: flex;
    flex-direction: column;
    gap:20px;
}

footer .left-section .social-network-section {
    display: flex;
    flex-direction: column;
    gap:20px;
}


footer .left-section .social-network-section .icons-section {
    display: flex;
    gap:15px;
}
 
footer .newsletters-section .email-input #email{
    width: 399px;
    height: 48px;
    border-radius: 12px;
}
 
footer .newsletters-section .email-input #envelope{
    margin-left: -35px;
    z-index: 20;
    padding-right: 14px;
    border-radius: 12px;
    background: transparent;
}



footer .left-section .privacy-policy-section {
    display: flex;
    width: 95%;
    padding: 8px 12px 8px 205px;
    border-radius: 0px 12px 12px 0px;
    font-size: 12px;
    background-color:  #ecebeb;
    color:  #3E3232;
}

footer .left-section .privacy-policy-section .left-text {
    width: 498px;
}


footer .right-section .comments .comments-borders{
    background-color: rgba(245, 245, 245, 1);
    padding: 16px;
    text-transform: capitalize;
    border-radius: 12px;
}
 
footer .right-section .comments p{
    font-size: 12px;
}
footer .right-section .comments h5{
    font-size: 16px;
    font-weight: 700;
}

footer .right-section .comments {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

 

footer .right-section {
    display: flex;
    gap:24px;
}

footer .right-section {
    padding: 40px;
}


footer .right-section .follow-instagram {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* Footer End */







@media screen and (max-width: 1512px) {
    
    
    .profile-edit {
        width: 358px;
    }

    .text-boxes-container {
        flex-direction: column;
    }
    .bottom-section {
        flex-direction: column;
    }

    form .text-boxes-container .text-box-card input {
        width: 358px;
    }

    form .banner-section .add-box {
        flex-direction: column;
        height: 360px;
    }


    form .banner-section .add-box .right-section {
        flex-direction: column;
    }

    form .banner-section .add-box .right-section button {
        align-self: center;
    }


    form .bottom-section .explanation-section .buttons-section textarea {
        width: 318px;
        height: 377px;
    }

    form .bottom-section .explanation-section .buttons-section .buttons .tablet {
        display: flex;
        gap: 24px;
    }
    form .bottom-section .explanation-section .buttons-section .buttons .desktop {
        display: none;
    }

    main {
        margin-bottom: 120px;
    }

    form .mobile-navbar-fixed {
        display: flex;
        align-items: center;
        position: fixed;
        gap:48px;
        width: 358px;
        border-radius: 16px 16px 0 0;
        padding: 15px 30px 15px 30px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05); /* 5% box shadow */
    }



    header {
        box-shadow: none;
    }
    header #desktop-search{
        width: 300px;
        margin-right: 0px;
    }
    header #desktop-search .search-box input{
        width: 187px;
    }
    header .header-div {
        padding-top: 45px;
        gap:10px;
    }
    header .left-section{
        padding-left: 0;
        padding-right: 0;
    }
    header .right-section{
        padding-left: 0;
        padding-right: 0;
    }
    
    header .left-section .navbar{
        display: none;
    }
    header .left-section .logo-text{
        display: none;
    }
    header .right-section .profile{
        display: none;
    }
    header .right-section .save-button{
        display: none;
    }
    header #desktop-search{
        display: flex;
    }
    header #tablet-search{
        display: none;
    }
    footer {
        display: none;
    }
    
    main .file-path-section {
        width: 358px;
    }

}